

.contact-paco {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.contact-paco .left-contact .columnas-left-contact{
    list-style-type: none;
}

.contact-paco .right-contact{
    display:flex;
    justify-content: center;
    list-style-type: none;    
}

.contact-paco .right-contact img{
    width: 7em;
}


.contact-paco .right-contact .columnas-right-contact{
    
    list-style-type: none; 
}

#text-area{
    resize: none;
}

#buttonContact{
            cursor: pointer;
            border: 1px solid #33e2f1;;
            background-color: transparent;
            height: 30px;
            width: 100px;
            color: #33e2f1;
            font-weight:bold;
            
}

/*--RESPONSIV--*/
@media screen and (max-width: 500px) {
    .contact-paco .left-contact .columnas-left-contact > form {
      float: none;
      display: block;
      
    }
    .contact-paco .left-contact .columnas-left-contact > form {
      float: none;
    }
  }
