

/*
.cards {
  background-color: #ffc200;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }*/